.list {
  display: grid;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  width: 80%;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, fit-content);
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
  padding: 0 2rem;
  width: 100%;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: rgb(132, 132, 255);
}

.sortButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons */
  margin: 20px 0; /* Add some space above and below */
}

.sortButtons Button {
  margin: 5px; /* Add spacing between buttons */
  padding: 10px 15px; /* Increase padding for better click area */
  font-size: 16px; /* Set a comfortable font size */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly round the corners */
  background-color: #007bff; /* Bootstrap primary color */
  color: white; /* Text color */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sortButtons Button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.sortButtons Button:focus {
  outline: none; /* Remove the default focus outline */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Add custom focus style */
}

.sortButtons Button.selected {
  background-color: #004085; /* Darker blue for selected button */
}
