.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.link:hover {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
