.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1em;
}

.gear {
  margin: 0.5em;
}

.deadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1em;
}
