.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 1em;
}

.gear {
  margin: 0.5em;
}

.deadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
}

.profilePicture {
  height: 4vh;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.countdown {
  font-weight: bold;
  font-size: 1.5rem;
}

.timeUnit {
  display: flex;
  gap: 5px;
  align-items: center;
}

.label {
  font-size: 0.8rem;
  color: #666;
}

.participants ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.participants ul {
  position: relative;
  padding-left: 10px;
}

.participants ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  bottom: 5%;
  width: 1px;
  background-color: black;
}
