/* Overriding default bootstrap(?) css */
.list {
  margin: 3em;
  padding-left: 0;
}

.link:hover {
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
