.navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row; /* Ensures items are arranged in a row */
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid rgb(225, 225, 225);
  cursor: default;
  transition: background-color 0.5s ease, color 0.5s ease, border-bottom 0.5 ease;
}

.navbar a {
  padding: 0; /* Standardize padding */
  height: 100%; /* Ensure full height */
  display: flex; /* For vertical alignment */
  align-items: center; /* Align content inside links vertically */
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 0.5em;
  text-decoration: none;
  color: black;
  margin: 0 10px; /* Space between icons */
}

.centered-items {
  display: flex; /* Flex container for centering */
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  flex-grow: 1; /* Ensure it takes up available space */
}

.active {
  background-color: rgb(214, 242, 241);
  font-weight: bold;
  color: #646cff;
}

.bell {
  display: flex; /* Ensures alignment with other icons */
  align-items: center; /* Centers content vertically */
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 5px;
  height: 100%; /* Match navbar height */
}

.bell:hover {
  color: red;
}

.navbar a:hover {
  background-color: rgb(214, 242, 241);
}

.logoutNotif {
  position: relative;
  display: flex; /* Ensures elements are aligned in a row */
  flex-direction: row; /* Align elements horizontally */
  align-items: center; /* Align items vertically */
}

.notificationBar {
  position: absolute;
  background-color: cornsilk;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  list-style-type: none;
  right: 0;
}

.notification:not(:last-child) {
  border-bottom: 1px solid;
  border-color: black;
}

.profilePicture {
  height: 4vh;
  width: 4vh; /* Ensure uniform dimensions */
  margin-left: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profileButton {
  margin: 0;
  padding: 0; /* Remove padding */
  background: none; /* Remove default background */
  border: none; /* Remove default border */
  cursor: pointer; /* Ensure the button still has a pointer cursor */
}

.notificationCount {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 40%;
  font-size: 12px;
  top: 5%;
  left: 5%; /* Keep consistent with design */
}

.navbar.darkMode {
  background-color: #333;
  color: white;
  border-bottom: 2px solid #444;
}

.navbar a.darkMode {
  color: lightgray;
}

.navbar a.darkMode:hover {
  background-color: #555;
  color: white;
}

.navbar a.active.darkMode {
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
}