.navbar {
  width: 100vw;
  height: 5vh;
  display: flex;
  flex: 0 0 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar,
a {
  padding: 1vh;
  cursor: pointer;
}
a:hover {
  background-color: #e7e7e7;
}

.logoutNotif {
  flex-direction: row;
}

.notificationBar {
  position: absolute;
  background-color: cornsilk;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  list-style-type: none;
}

.notification:not(:last-child) {
  border-bottom: 1px solid;
  border-color: black;
}
