.popup {
  position: fixed;
  top: 0;
  right: -20rem;
  width: 20rem;
  height: 100%;
  background-color: white;
  color: black;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1000;
  padding: 20px;
  transition: right 0.3s ease;
}

.popup.visible {
  right: 0;
}

.popup.darkMode {
  background-color: #1e1e1e;
  color: #ffffff;
  box-shadow: -2px 0 5px rgba(255, 255, 255, 0.2);
}

.notificationList {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.notificationList.darkMode {
  border-bottom: 1px solid #333;
}

ul {
  padding-left: 0;
}

.notificationList div {
  display: flex;
  gap: 10px;
}

.notification {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
  background-color: #0056b3;
}

.buttonContainer button.darkMode {
  background-color: #4a90e2;
}

.buttonContainer button.darkMode:hover {
  background-color: #3b78cc;
}

.feedback {
  font-weight: bold;
}

.feedback.darkMode {
  color: #ffcc00;
}
